In [98]:
import numpy as np
import pandas as pd
import scipy as sp
import os

path = os.getcwd()+"\\resources";

TrainDF = pd.read_csv(path+"\\loan_train.csv")

In [99]:
TrainDF.shape

(614, 13)

In [3]:
TrainDF.columns

Index(['Loan_ID', 'Gender', 'Married', 'Dependents', 'Education',
       'Self_Employed', 'ApplicantIncome', 'CoapplicantIncome', 'LoanAmount',
       'Loan_Amount_Term', 'Credit_History', 'Property_Area', 'Loan_Status'],
      dtype='object')

In [4]:
TrainDF.Loan_ID

0      LP001002
1      LP001003
2      LP001005
3      LP001006
4      LP001008
         ...
609    LP002978
610    LP002979
611    LP002983
612    LP002984
613    LP002990
Name: Loan_ID, Length: 614, dtype: object

In [5]:
TrainDF.values

array([['LP001002', 'Male', 'No', ..., 1.0, 'Urban', 'Y'],
       ['LP001003', 'Male', 'Yes', ..., 1.0, 'Rural', 'N'],
       ['LP001005', 'Male', 'Yes', ..., 1.0, 'Urban', 'Y'],
       ...,
       ['LP002983', 'Male', 'Yes', ..., 1.0, 'Urban', 'Y'],
       ['LP002984', 'Male', 'Yes', ..., 1.0, 'Urban', 'Y'],
       ['LP002990', 'Female', 'No', ..., 0.0, 'Semiurban', 'N']],
      dtype=object)

In [6]:
ndf = TrainDF.head(50)

In [7]:
ndf.shape

(50, 13)

In [8]:
ndf.mean()

ApplicantIncome      4157.200000
CoapplicantIncome    1828.720000
LoanAmount            130.250000
Loan_Amount_Term      352.173913
Credit_History          0.847826
dtype: float64

In [9]:
ndf['LoanAmount'].count

<bound method Series.count of 0       NaN
1     128.0
2      66.0
3     120.0
4     141.0
5     267.0
6      95.0
7     158.0
8     168.0
9     349.0
10     70.0
11    109.0
12    200.0
13    114.0
14     17.0
15    125.0
16    100.0
17     76.0
18    133.0
19    115.0
20    104.0
21    315.0
22    116.0
23    112.0
24    151.0
25    191.0
26    122.0
27    110.0
28     35.0
29    120.0
30    201.0
31     74.0
32    106.0
33    114.0
34    320.0
35      NaN
36    100.0
37    144.0
38    184.0
39    110.0
40     80.0
41     47.0
42     75.0
43    134.0
44     96.0
45     88.0
46     44.0
47    144.0
48    120.0
49    144.0
Name: LoanAmount, dtype: float64>

In [17]:
TrainDF[TrainDF.isnull().any(axis=1)].head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
11,LP001027,Male,Yes,2,Graduate,NaN,2500,1840.0,109.0,360.0,1.0,Urban,Y
16,LP001034,Male,No,1,Not Graduate,No,3596,0.0,100.0,240.0,NaN,Urban,Y
19,LP001041,Male,Yes,0,Graduate,NaN,2600,3500.0,115.0,NaN,1.0,Urban,Y
23,LP001050,NaN,Yes,2,Not Graduate,No,3365,1917.0,112.0,360.0,0.0,Rural,N

In [21]:
TrainDF[TrainDF.isnull().any(axis=1)].count

<bound method DataFrame.count of       Loan_ID  Gender Married Dependents     Education Self_Employed  \
0    LP001002    Male      No          0      Graduate            No
11   LP001027    Male     Yes          2      Graduate           NaN
16   LP001034    Male      No          1  Not Graduate            No
19   LP001041    Male     Yes          0      Graduate           NaN
23   LP001050     NaN     Yes          2  Not Graduate            No
..        ...     ...     ...        ...           ...           ...
592  LP002933     NaN      No         3+      Graduate           Yes
597  LP002943    Male      No        NaN      Graduate            No
600  LP002949  Female      No         3+      Graduate           NaN
601  LP002950    Male     Yes          0  Not Graduate           NaN
605  LP002960    Male     Yes          0  Not Graduate            No

     ApplicantIncome  CoapplicantIncome  LoanAmount  Loan_Amount_Term  \
0               5849                0.0         NaN             360.0
11              2500             1840.0       109.0             360.0
16              3596                0.0       100.0             240.0
19              2600             3500.0       115.0               NaN
23              3365             1917.0       112.0             360.0
..               ...                ...         ...               ...
592             9357                0.0       292.0             360.0
597             2987                0.0        88.0             360.0
600              416            41667.0       350.0             180.0
601             2894             2792.0       155.0             360.0
605             2400             3800.0         NaN             180.0

     Credit_History Property_Area Loan_Status
0               1.0         Urban           Y
11              1.0         Urban           Y
16              NaN         Urban           Y
19              1.0         Urban           Y
23              0.0         Rural           N
..              ...           ...         ...
592             1.0     Semiurban           Y
597             0.0     Semiurban           N
600             NaN         Urban           N
601             1.0         Rural           Y
605             1.0         Urban           N

[134 rows x 13 columns]>

In [22]:
ndf = TrainDF['LoanAmount']

In [23]:
ndf.shape

(614,)

In [24]:
ndf.head()

0      NaN
1    128.0
2     66.0
3    120.0
4    141.0
Name: LoanAmount, dtype: float64

In [25]:
ndf.mean()

146.41216216216216

In [26]:
ndf = TrainDF
ndf.shape

(614, 13)

In [33]:
TrainDF[TrainDF.isnull().any(axis=1)].count()

Loan_ID              134
Gender               121
Married              131
Dependents           119
Education            134
Self_Employed        102
ApplicantIncome      134
CoapplicantIncome    134
LoanAmount           112
Loan_Amount_Term     120
Credit_History        84
Property_Area        134
Loan_Status          134
dtype: int64

In [36]:
ndf[ndf.isnull().any(axis=1)].head

<bound method NDFrame.head of       Loan_ID  Gender Married Dependents     Education Self_Employed  \
0    LP001002    Male      No          0      Graduate            No
11   LP001027    Male     Yes          2      Graduate           NaN
16   LP001034    Male      No          1  Not Graduate            No
19   LP001041    Male     Yes          0      Graduate           NaN
23   LP001050     NaN     Yes          2  Not Graduate            No
..        ...     ...     ...        ...           ...           ...
592  LP002933     NaN      No         3+      Graduate           Yes
597  LP002943    Male      No        NaN      Graduate            No
600  LP002949  Female      No         3+      Graduate           NaN
601  LP002950    Male     Yes          0  Not Graduate           NaN
605  LP002960    Male     Yes          0  Not Graduate            No

     ApplicantIncome  CoapplicantIncome  LoanAmount  Loan_Amount_Term  \
0               5849                0.0         NaN             360.0
11              2500             1840.0       109.0             360.0
16              3596                0.0       100.0             240.0
19              2600             3500.0       115.0               NaN
23              3365             1917.0       112.0             360.0
..               ...                ...         ...               ...
592             9357                0.0       292.0             360.0
597             2987                0.0        88.0             360.0
600              416            41667.0       350.0             180.0
601             2894             2792.0       155.0             360.0
605             2400             3800.0         NaN             180.0

     Credit_History Property_Area Loan_Status
0               1.0         Urban           Y
11              1.0         Urban           Y
16              NaN         Urban           Y
19              1.0         Urban           Y
23              0.0         Rural           N
..              ...           ...         ...
592             1.0     Semiurban           Y
597             0.0     Semiurban           N
600             NaN         Urban           N
601             1.0         Rural           Y
605             1.0         Urban           N

[134 rows x 13 columns]>

In [37]:
ndf = ndf.fillna(ndf.mean())

In [38]:
ndf.head

<bound method NDFrame.head of       Loan_ID  Gender Married Dependents     Education Self_Employed  \
0    LP001002    Male      No          0      Graduate            No
1    LP001003    Male     Yes          1      Graduate            No
2    LP001005    Male     Yes          0      Graduate           Yes
3    LP001006    Male     Yes          0  Not Graduate            No
4    LP001008    Male      No          0      Graduate            No
..        ...     ...     ...        ...           ...           ...
609  LP002978  Female      No          0      Graduate            No
610  LP002979    Male     Yes         3+      Graduate            No
611  LP002983    Male     Yes          1      Graduate            No
612  LP002984    Male     Yes          2      Graduate            No
613  LP002990  Female      No          0      Graduate           Yes

     ApplicantIncome  CoapplicantIncome  LoanAmount  Loan_Amount_Term  \
0               5849                0.0  146.412162             360.0
1               4583             1508.0  128.000000             360.0
2               3000                0.0   66.000000             360.0
3               2583             2358.0  120.000000             360.0
4               6000                0.0  141.000000             360.0
..               ...                ...         ...               ...
609             2900                0.0   71.000000             360.0
610             4106                0.0   40.000000             180.0
611             8072              240.0  253.000000             360.0
612             7583                0.0  187.000000             360.0
613             4583                0.0  133.000000             360.0

     Credit_History Property_Area Loan_Status
0               1.0         Urban           Y
1               1.0         Rural           N
2               1.0         Urban           Y
3               1.0         Urban           Y
4               1.0         Urban           Y
..              ...           ...         ...
609             1.0         Rural           Y
610             1.0         Rural           Y
611             1.0         Urban           Y
612             1.0         Urban           Y
613             0.0     Semiurban           N

[614 rows x 13 columns]>

In [39]:
ndf[ndf.isnull().any(axis=1)].head

<bound method NDFrame.head of       Loan_ID  Gender Married Dependents     Education Self_Employed  \
11   LP001027    Male     Yes          2      Graduate           NaN
19   LP001041    Male     Yes          0      Graduate           NaN
23   LP001050     NaN     Yes          2  Not Graduate            No
24   LP001052    Male     Yes          1      Graduate           NaN
29   LP001087  Female      No          2      Graduate           NaN
30   LP001091    Male     Yes          1      Graduate           NaN
95   LP001326    Male      No          0      Graduate           NaN
102  LP001350    Male     Yes        NaN      Graduate            No
104  LP001357    Male     NaN        NaN      Graduate            No
107  LP001370    Male      No          0  Not Graduate           NaN
111  LP001387  Female     Yes          0      Graduate           NaN
114  LP001398    Male      No          0      Graduate           NaN
120  LP001426    Male     Yes        NaN      Graduate            No
126  LP001448     NaN     Yes         3+      Graduate            No
158  LP001546    Male      No          0      Graduate           NaN
170  LP001581    Male     Yes          0  Not Graduate           NaN
171  LP001585     NaN     Yes         3+      Graduate            No
188  LP001644     NaN     Yes          0      Graduate           Yes
218  LP001732    Male     Yes          2      Graduate           NaN
226  LP001754    Male     Yes        NaN  Not Graduate           Yes
228  LP001760    Male     NaN        NaN      Graduate            No
231  LP001768    Male     Yes          0      Graduate           NaN
236  LP001786    Male     Yes          0      Graduate           NaN
268  LP001883  Female      No          0      Graduate           NaN
293  LP001945  Female      No        NaN      Graduate            No
295  LP001949    Male     Yes         3+      Graduate           NaN
301  LP001972    Male     Yes        NaN  Not Graduate            No
314  LP002024     NaN     Yes          0      Graduate            No
332  LP002100    Male      No        NaN      Graduate            No
333  LP002101    Male     Yes          0      Graduate           NaN
334  LP002103     NaN     Yes          1      Graduate           Yes
335  LP002106    Male     Yes        NaN      Graduate           Yes
336  LP002110    Male     Yes          1      Graduate           NaN
344  LP002128    Male     Yes          2      Graduate           NaN
346  LP002130    Male     Yes        NaN  Not Graduate            No
355  LP002144  Female      No        NaN      Graduate            No
374  LP002209  Female      No          0      Graduate           NaN
380  LP002226    Male     Yes          0      Graduate           NaN
385  LP002237    Male      No          1      Graduate           NaN
411  LP002319    Male     Yes          0      Graduate           NaN
432  LP002386    Male      No          0      Graduate           NaN
435  LP002393  Female     NaN        NaN      Graduate            No
447  LP002435    Male     Yes          0      Graduate           NaN
460  LP002478     NaN     Yes          0      Graduate           Yes
463  LP002489  Female      No          1  Not Graduate           NaN
467  LP002501     NaN     Yes          0      Graduate            No
468  LP002502  Female     Yes          2  Not Graduate           NaN
477  LP002530     NaN     Yes          2      Graduate            No
507  LP002625     NaN      No          0      Graduate            No
517  LP002682    Male     Yes        NaN  Not Graduate            No
535  LP002732    Male      No          0  Not Graduate           NaN
542  LP002753  Female      No          1      Graduate           NaN
571  LP002847    Male     Yes        NaN      Graduate            No
576  LP002872     NaN     Yes          0      Graduate            No
579  LP002888    Male      No          0      Graduate           NaN
588  LP002925     NaN      No          0      Graduate            No
592  LP002933     NaN      No         3+      Graduate           Yes
597  LP002943    Male      No        NaN      Graduate            No
600  LP002949  Female      No         3+      Graduate           NaN
601  LP002950    Male     Yes          0  Not Graduate           NaN

     ApplicantIncome  CoapplicantIncome  LoanAmount  Loan_Amount_Term  \
11              2500             1840.0  109.000000             360.0
19              2600             3500.0  115.000000             342.0
23              3365             1917.0  112.000000             360.0
24              3717             2925.0  151.000000             360.0
29              3750             2083.0  120.000000             360.0
30              4166             3369.0  201.000000             360.0
95              6782                0.0  146.412162             360.0
102            13650                0.0  146.412162             360.0
104             3816              754.0  160.000000             360.0
107             7333                0.0  120.000000             360.0
111             2929             2333.0  139.000000             360.0
114             5050                0.0  118.000000             360.0
120             5667             2667.0  180.000000             360.0
126            23803                0.0  370.000000             360.0
158             2980             2083.0  120.000000             360.0
170             1820             1769.0   95.000000             360.0
171            51763                0.0  700.000000             300.0
188              674             5296.0  168.000000             360.0
218             5000                0.0   72.000000             360.0
226             4735                0.0  138.000000             360.0
228             4758                0.0  158.000000             480.0
231             3716                0.0   42.000000             180.0
236             5746                0.0  255.000000             360.0
268             3418                0.0  135.000000             360.0
293             5417                0.0  143.000000             480.0
295             4416             1250.0  110.000000             360.0
301             2875             1750.0  105.000000             360.0
314             2473             1843.0  159.000000             360.0
332             2833                0.0   71.000000             360.0
333            63337                0.0  490.000000             180.0
334             9833             1833.0  182.000000             180.0
335             5503             4490.0   70.000000             342.0
336             5250              688.0  160.000000             360.0
344             2583             2330.0  125.000000             360.0
346             3523             3230.0  152.000000             360.0
355             3813                0.0  116.000000             180.0
374             2764             1459.0  110.000000             360.0
380             3333             2500.0  128.000000             360.0
385             3667                0.0  113.000000             180.0
411             6256                0.0  160.000000             360.0
432            12876                0.0  405.000000             360.0
435            10047                0.0  146.412162             240.0
447             3539             1376.0   55.000000             360.0
460             2083             4083.0  160.000000             360.0
463             5191                0.0  132.000000             360.0
467            16692                0.0  110.000000             360.0
468              210             2917.0   98.000000             360.0
477             2873             1872.0  132.000000             360.0
507             3583                0.0   96.000000             360.0
517             3074             1800.0  123.000000             360.0
535             2550             2042.0  126.000000             360.0
542             3652                0.0   95.000000             360.0
571             5116             1451.0  165.000000             360.0
576             3087             2210.0  136.000000             360.0
579             3182             2917.0  161.000000             360.0
588             4750                0.0   94.000000             360.0
592             9357                0.0  292.000000             360.0
597             2987                0.0   88.000000             360.0
600              416            41667.0  350.000000             180.0
601             2894             2792.0  155.000000             360.0

     Credit_History Property_Area Loan_Status
11         1.000000         Urban           Y
19         1.000000         Urban           Y
23         0.000000         Rural           N
24         0.842199     Semiurban           N
29         1.000000     Semiurban           Y
30         0.842199         Urban           N
95         0.842199         Urban           N
102        1.000000         Urban           Y
104        1.000000         Urban           Y
107        1.000000         Rural           N
111        1.000000     Semiurban           Y
114        1.000000     Semiurban           Y
120        1.000000         Rural           Y
126        1.000000         Rural           Y
158        1.000000         Rural           Y
170        1.000000         Rural           Y
171        1.000000         Urban           Y
188        1.000000         Rural           Y
218        0.000000     Semiurban           N
226        1.000000         Urban           N
228        1.000000     Semiurban           Y
231        1.000000         Rural           Y
236        0.842199         Urban           N
268        1.000000         Rural           N
293        0.000000         Urban           N
295        1.000000         Urban           Y
301        1.000000     Semiurban           Y
314        1.000000         Rural           N
332        1.000000         Urban           Y
333        1.000000         Urban           Y
334        1.000000         Urban           Y
335        1.000000     Semiurban           Y
336        1.000000         Rural           Y
344        1.000000         Rural           Y
346        0.000000         Rural           N
355        1.000000         Urban           Y
374        1.000000         Urban           Y
380        1.000000     Semiurban           Y
385        1.000000         Urban           Y
411        0.842199         Urban           Y
432        1.000000     Semiurban           Y
435        1.000000     Semiurban           Y
447        1.000000         Rural           N
460        0.842199     Semiurban           Y
463        1.000000     Semiurban           Y
467        1.000000     Semiurban           Y
468        1.000000     Semiurban           Y
477        0.000000     Semiurban           N
507        1.000000         Urban           N
517        0.000000     Semiurban           N
535        1.000000         Rural           Y
542        1.000000     Semiurban           Y
571        0.000000         Urban           N
576        0.000000     Semiurban           N
579        1.000000         Urban           Y
588        1.000000     Semiurban           Y
592        1.000000     Semiurban           Y
597        0.000000     Semiurban           N
600        0.842199         Urban           N
601        1.000000         Rural           Y  >

In [40]:
ndf = ndf.fillna(ndf.mean)

In [41]:
ndf.head

<bound method NDFrame.head of       Loan_ID  Gender Married Dependents     Education Self_Employed  \
0    LP001002    Male      No          0      Graduate            No
1    LP001003    Male     Yes          1      Graduate            No
2    LP001005    Male     Yes          0      Graduate           Yes
3    LP001006    Male     Yes          0  Not Graduate            No
4    LP001008    Male      No          0      Graduate            No
..        ...     ...     ...        ...           ...           ...
609  LP002978  Female      No          0      Graduate            No
610  LP002979    Male     Yes         3+      Graduate            No
611  LP002983    Male     Yes          1      Graduate            No
612  LP002984    Male     Yes          2      Graduate            No
613  LP002990  Female      No          0      Graduate           Yes

     ApplicantIncome  CoapplicantIncome  LoanAmount  Loan_Amount_Term  \
0               5849                0.0  146.412162             360.0
1               4583             1508.0  128.000000             360.0
2               3000                0.0   66.000000             360.0
3               2583             2358.0  120.000000             360.0
4               6000                0.0  141.000000             360.0
..               ...                ...         ...               ...
609             2900                0.0   71.000000             360.0
610             4106                0.0   40.000000             180.0
611             8072              240.0  253.000000             360.0
612             7583                0.0  187.000000             360.0
613             4583                0.0  133.000000             360.0

     Credit_History Property_Area Loan_Status
0               1.0         Urban           Y
1               1.0         Rural           N
2               1.0         Urban           Y
3               1.0         Urban           Y
4               1.0         Urban           Y
..              ...           ...         ...
609             1.0         Rural           Y
610             1.0         Rural           Y
611             1.0         Urban           Y
612             1.0         Urban           Y
613             0.0     Semiurban           N

[614 rows x 13 columns]>

In [42]:
ndf[ndf.isnull().any(axis=1)].head

<bound method NDFrame.head of Empty DataFrame
Columns: [Loan_ID, Gender, Married, Dependents, Education, Self_Employed, ApplicantIncome, CoapplicantIncome, LoanAmount, Loan_Amount_Term, Credit_History, Property_Area, Loan_Status]
Index: []>

In [43]:
ndf.head

<bound method NDFrame.head of       Loan_ID  Gender Married Dependents     Education Self_Employed  \
0    LP001002    Male      No          0      Graduate            No
1    LP001003    Male     Yes          1      Graduate            No
2    LP001005    Male     Yes          0      Graduate           Yes
3    LP001006    Male     Yes          0  Not Graduate            No
4    LP001008    Male      No          0      Graduate            No
..        ...     ...     ...        ...           ...           ...
609  LP002978  Female      No          0      Graduate            No
610  LP002979    Male     Yes         3+      Graduate            No
611  LP002983    Male     Yes          1      Graduate            No
612  LP002984    Male     Yes          2      Graduate            No
613  LP002990  Female      No          0      Graduate           Yes

     ApplicantIncome  CoapplicantIncome  LoanAmount  Loan_Amount_Term  \
0               5849                0.0  146.412162             360.0
1               4583             1508.0  128.000000             360.0
2               3000                0.0   66.000000             360.0
3               2583             2358.0  120.000000             360.0
4               6000                0.0  141.000000             360.0
..               ...                ...         ...               ...
609             2900                0.0   71.000000             360.0
610             4106                0.0   40.000000             180.0
611             8072              240.0  253.000000             360.0
612             7583                0.0  187.000000             360.0
613             4583                0.0  133.000000             360.0

     Credit_History Property_Area Loan_Status
0               1.0         Urban           Y
1               1.0         Rural           N
2               1.0         Urban           Y
3               1.0         Urban           Y
4               1.0         Urban           Y
..              ...           ...         ...
609             1.0         Rural           Y
610             1.0         Rural           Y
611             1.0         Urban           Y
612             1.0         Urban           Y
613             0.0     Semiurban           N

[614 rows x 13 columns]>

In [44]:
ndf = TrainDF

In [45]:
ndf.head

<bound method NDFrame.head of       Loan_ID  Gender Married Dependents     Education Self_Employed  \
0    LP001002    Male      No          0      Graduate            No
1    LP001003    Male     Yes          1      Graduate            No
2    LP001005    Male     Yes          0      Graduate           Yes
3    LP001006    Male     Yes          0  Not Graduate            No
4    LP001008    Male      No          0      Graduate            No
..        ...     ...     ...        ...           ...           ...
609  LP002978  Female      No          0      Graduate            No
610  LP002979    Male     Yes         3+      Graduate            No
611  LP002983    Male     Yes          1      Graduate            No
612  LP002984    Male     Yes          2      Graduate            No
613  LP002990  Female      No          0      Graduate           Yes

     ApplicantIncome  CoapplicantIncome  LoanAmount  Loan_Amount_Term  \
0               5849                0.0         NaN             360.0
1               4583             1508.0       128.0             360.0
2               3000                0.0        66.0             360.0
3               2583             2358.0       120.0             360.0
4               6000                0.0       141.0             360.0
..               ...                ...         ...               ...
609             2900                0.0        71.0             360.0
610             4106                0.0        40.0             180.0
611             8072              240.0       253.0             360.0
612             7583                0.0       187.0             360.0
613             4583                0.0       133.0             360.0

     Credit_History Property_Area Loan_Status
0               1.0         Urban           Y
1               1.0         Rural           N
2               1.0         Urban           Y
3               1.0         Urban           Y
4               1.0         Urban           Y
..              ...           ...         ...
609             1.0         Rural           Y
610             1.0         Rural           Y
611             1.0         Urban           Y
612             1.0         Urban           Y
613             0.0     Semiurban           N

[614 rows x 13 columns]>

In [46]:
ndf[ndf.isnull().any(axis=1)].head

<bound method NDFrame.head of       Loan_ID  Gender Married Dependents     Education Self_Employed  \
0    LP001002    Male      No          0      Graduate            No
11   LP001027    Male     Yes          2      Graduate           NaN
16   LP001034    Male      No          1  Not Graduate            No
19   LP001041    Male     Yes          0      Graduate           NaN
23   LP001050     NaN     Yes          2  Not Graduate            No
..        ...     ...     ...        ...           ...           ...
592  LP002933     NaN      No         3+      Graduate           Yes
597  LP002943    Male      No        NaN      Graduate            No
600  LP002949  Female      No         3+      Graduate           NaN
601  LP002950    Male     Yes          0  Not Graduate           NaN
605  LP002960    Male     Yes          0  Not Graduate            No

     ApplicantIncome  CoapplicantIncome  LoanAmount  Loan_Amount_Term  \
0               5849                0.0         NaN             360.0
11              2500             1840.0       109.0             360.0
16              3596                0.0       100.0             240.0
19              2600             3500.0       115.0               NaN
23              3365             1917.0       112.0             360.0
..               ...                ...         ...               ...
592             9357                0.0       292.0             360.0
597             2987                0.0        88.0             360.0
600              416            41667.0       350.0             180.0
601             2894             2792.0       155.0             360.0
605             2400             3800.0         NaN             180.0

     Credit_History Property_Area Loan_Status
0               1.0         Urban           Y
11              1.0         Urban           Y
16              NaN         Urban           Y
19              1.0         Urban           Y
23              0.0         Rural           N
..              ...           ...         ...
592             1.0     Semiurban           Y
597             0.0     Semiurban           N
600             NaN         Urban           N
601             1.0         Rural           Y
605             1.0         Urban           N

[134 rows x 13 columns]>

In [47]:
ndf['LoanAmount']= ndf['LoanAmount'].fillna(ndf['LoanAmount'].mean)

In [49]:
ndf[ndf['LoanAmount'].isnull().any(axis=1)].head

ValueError: No axis named 1 for object type <class 'pandas.core.series.Series'>

In [50]:
ndf['LoanAmount'].head

<bound method NDFrame.head of 0      <bound method Series.mean of 0        NaN\n1  ...
1                                                    128
2                                                     66
3                                                    120
4                                                    141
                             ...
609                                                   71
610                                                   40
611                                                  253
612                                                  187
613                                                  133
Name: LoanAmount, Length: 614, dtype: object>

In [51]:
ndf['LoanAmount']

<bound method NDFrame.head of 0      False
1      False
2      False
3      False
4      False
       ...
609    False
610    False
611    False
612    False
613    False
Name: LoanAmount, Length: 614, dtype: bool>

In [55]:
ndf[ndf.isnull().any(axis=1)].dropna

AttributeError: 'function' object has no attribute 'isnull'

In [54]:
ndf.shape

AttributeError: 'function' object has no attribute 'shape'

In [56]:
ndf.head

AttributeError: 'function' object has no attribute 'head'

In [57]:
ndf.head()

AttributeError: 'function' object has no attribute 'head'

In [58]:
ndf = TrainDF

In [59]:
ndf.head

<bound method NDFrame.head of       Loan_ID  Gender Married Dependents     Education Self_Employed  \
0    LP001002    Male      No          0      Graduate            No
1    LP001003    Male     Yes          1      Graduate            No
2    LP001005    Male     Yes          0      Graduate           Yes
3    LP001006    Male     Yes          0  Not Graduate            No
4    LP001008    Male      No          0      Graduate            No
..        ...     ...     ...        ...           ...           ...
609  LP002978  Female      No          0      Graduate            No
610  LP002979    Male     Yes         3+      Graduate            No
611  LP002983    Male     Yes          1      Graduate            No
612  LP002984    Male     Yes          2      Graduate            No
613  LP002990  Female      No          0      Graduate           Yes

     ApplicantIncome  CoapplicantIncome  \
0               5849                0.0
1               4583             1508.0
2               3000                0.0
3               2583             2358.0
4               6000                0.0
..               ...                ...
609             2900                0.0
610             4106                0.0
611             8072              240.0
612             7583                0.0
613             4583                0.0

                                            LoanAmount  Loan_Amount_Term  \
0    <bound method Series.mean of 0        NaN\n1  ...             360.0
1                                                  128             360.0
2                                                   66             360.0
3                                                  120             360.0
4                                                  141             360.0
..                                                 ...               ...
609                                                 71             360.0
610                                                 40             180.0
611                                                253             360.0
612                                                187             360.0
613                                                133             360.0

     Credit_History Property_Area Loan_Status
0               1.0         Urban           Y
1               1.0         Rural           N
2               1.0         Urban           Y
3               1.0         Urban           Y
4               1.0         Urban           Y
..              ...           ...         ...
609             1.0         Rural           Y
610             1.0         Rural           Y
611             1.0         Urban           Y
612             1.0         Urban           Y
613             0.0     Semiurban           N

[614 rows x 13 columns]>

In [68]:
ndf.fillna(ndf['LoanAmount'].mean)

In [69]:
ndf.head

<bound method NDFrame.head of 0      <bound method Series.mean of 0        NaN\n1  ...
1                                                    128
2                                                     66
3                                                    120
4                                                    141
                             ...
609                                                   71
610                                                   40
611                                                  253
612                                                  187
613                                                  133
Name: LoanAmount, Length: 614, dtype: object>

In [76]:
ndf.shape

(614,)

In [67]:
TrainDF[TrainDF.isnull().any(axis=1)].count()

Loan_ID              115
Gender               102
Married              112
Dependents           100
Education            115
Self_Employed         83
ApplicantIncome      115
CoapplicantIncome    115
LoanAmount           115
Loan_Amount_Term     101
Credit_History        65
Property_Area        115
Loan_Status          115
dtype: int64

In [100]:
TrainDF.shape

(614, 13)

In [101]:
ndf = TrainDF

In [102]:
ndf

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y
...,...,...,...,...,...,...,...,...,...,...,...,...,...
609,LP002978,Female,No,0,Graduate,No,2900,0.0,71.0,360.0,1.0,Rural,Y
610,LP002979,Male,Yes,3+,Graduate,No,4106,0.0,40.0,180.0,1.0,Rural,Y
611,LP002983,Male,Yes,1,Graduate,No,8072,240.0,253.0,360.0,1.0,Urban,Y
612,LP002984,Male,Yes,2,Graduate,No,7583,0.0,187.0,360.0,1.0,Urban,Y
613,LP002990,Female,No,0,Graduate,Yes,4583,0.0,133.0,360.0,0.0,Semiurban,N

In [103]:
ndf.shape

(614, 13)

In [118]:
ndf.mean()

ApplicantIncome      5403.459283
CoapplicantIncome    1621.245798
Loan_Amount_Term      342.000000
Credit_History          0.842199
dtype: float64

In [125]:
TrainDF.type

AttributeError: 'DataFrame' object has no attribute 'type'